.view {
  margin-bottom: 60px;
}
.view-content {
  display: block;
}
.view-content .col-md-3, .view-content .col-md-2 {
  text-align: center;
  display: flex;
  justify-content: center;
}
.view-content .col-md-3 img, .view-content .col-md-2 img {
  margin: 0 auto;
}

.block-field-blocknodepagetitle span,
.node--article-full .block-field-blocknodearticletitle span,
.node--client-full .block-field-blocknodeclienttitle span,
.node--projects-full .block-field-blocknodeprojectstitle span,
.node--services-full .block-field-blocknodeservicestitle span {
  display: block;
  font-size: 28px;
  color: #373645;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 30px 0 40px;
  padding-bottom: 10px;
}
.block-field-blocknodepagetitle span:after,
.node--article-full .block-field-blocknodearticletitle span:after,
.node--client-full .block-field-blocknodeclienttitle span:after,
.node--projects-full .block-field-blocknodeprojectstitle span:after,
.node--services-full .block-field-blocknodeservicestitle span:after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #ccc;
  position: absolute;
  left: calc(50% - 30px);
  bottom: 0;
}

.node--article-full,
.node--client-full,
.node--projects-full,
.node--services-full,
.node--type-page[about="/contact"] {
  max-width: 995px;
  margin: 0 auto;
}
.node--article-full img,
.node--client-full img,
.node--projects-full img,
.node--services-full img,
.node--type-page[about="/contact"] img {
  display: block;
  margin: 0 auto 30px;
}
.node--article-full p,
.node--client-full p,
.node--projects-full p,
.node--services-full p,
.node--type-page[about="/contact"] p {
  font-size: 17px;
}
.node--article-full .field--name-field-service-type,
.node--client-full .field--name-field-service-type,
.node--projects-full .field--name-field-service-type,
.node--services-full .field--name-field-service-type,
.node--type-page[about="/contact"] .field--name-field-service-type {
  text-transform: uppercase;
  margin: 10px 0 0;
  font-size: 18px;
  color: #ccc;
}

article .block-field-blockuseruserfield-picture img {
  margin: 30px auto 0;
}
article .block-field-blockuseruserfield-full-name {
  text-align: center;
  margin: 10px 0;
  font-size: 28px;
}
article .block-field-blockuseruserfield-position {
  text-align: center;
  margin: 0 0 10px;
  font-size: 20px;
  color: #ccc;
}
article .block-extra-field-blockuserusermember-for {
  text-align: center;
}
article .block-extra-field-blockuserusermember-for h4 {
  color: #373645;
  font-size: 18px;
  font-weight: 400;
}
article .block-extra-field-blockuserusermember-for h4::after {
  content: ":";
}
article .block-field-blockuseruserfield-social {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
article .block-field-blockuseruserfield-social ul {
  display: flex;
}
article .block-field-blockuseruserfield-social ul li {
  padding: 7px;
}

article[data-history-node-id="9"] {
  max-width: 995px;
  margin: 0 auto;
}

/*# sourceMappingURL=views.css.map */
