@import "variables";

.footer {
	background-color: $dark_blue;
	.region-footer {
		position: relative;
	}
	.navbar-brand {
		margin-left: 8px;
		font-weight: 400;
	}
	.block-social-media-links {
		width: auto;
		display: block;
		width: 130px;
		position: absolute;
		right: 0;
		top: 0;
		ul.platforms {
			display: block;
			margin: 0;
			padding: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 120px;
			height: auto;
			height: 25px;
		}
	}
}	

