@import "variables";

.navbar.container {
	max-width: 1250px;
}
.container > .navbar-header {
	max-width: 100%;
}
.bg-picture{
	display: block;
	background-image: url("../images/header.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 20px;
}

.heading {
	max-width: 100%;
}


.region-header {
	display: block;
	text-transform: uppercase;
	font-weight: 100;
  margin-bottom: 200px;
	h2 {
		margin: 0;
		font-size: 52px;
		color: white;
	}
	h3 {
		margin: 0;
		font-size: 33px;
	}
	p {
		font-size: 12px;
		color: $blue;
	}
}

#block-slogan {
  max-width: 315px;
  padding: 60px 0 80px;
  margin: 0 15px;
}

.navbar-default {
	.navbar-brand {
		color: $blue;
		font-weight: 500;
		margin-bottom: 5px;
		&:hover {
			color: $blue;
		}
	}
	.navbar-text {
		color: $white;
	}
}
.navbar {
	border: none;
	width: 100%;
	padding: 0;
	box-shadow: 0px 0px 6px 2px rgba(82, 82, 82, 0.2);
	border-radius: 0;
	&-header {
		display: flex;
		.region-navigation {
			background-color: $dark_blue;
			padding: 0 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			max-width: 240px;
			height: 115px;
		}
    .navbar-toggle {
      height: 40px;
      align-self: center;
	  margin-left: auto;
	  margin-right: 0;
    }
	}

	&-collapse {
		.region-navigation-collapsible {
			display: flex;
			height: 115px;
			align-items: center;
			justify-content: space-between;
		}
		.navbar-nav {
			max-width: 650px;
			padding: 0 30px;
			text-transform: uppercase;
			li {
				height: 100%;
				display: flex;
				align-items: center; margin: 0 5px;
				.is-active {
					border-bottom: 3px solid $blue;
					background-color: transparent;
				}
				a{
					padding: 5px 5px 2px;
					font-size: 14px;
					font-weight: 400;
					color: $black;
					border-bottom: 3px solid transparent;
					&:hover {
						background-color: $white;
					}
				}
				&.first a{
					padding: 0;
					font-size: 0;
					display: block;
					width: 25px;
					height: 28px;
					background-image: url("../images/Homepage-menu.png");
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: center;
					padding:  15px 0;
					&:hover {
						background-color: transparent;
					}
				}
			}
		}
		.block-search {
			max-width: 250px;
			margin: 0;
			.form-group {
				margin: 0;
			}
		}
	}
  &-collapse.in, .collapsing{
    .region-navigation-collapsible {
      display: flex;
      flex-direction: column;
      height: auto;
      text-align: center;
    }
	.navbar-nav li{
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	padding-bottom: 10px;
  }
}
